mixin addsearch()
    .col
        .col-12.col-lg-10px
            input#searchinp.form-control.form-control-dark(
                aria-label="Search" 
                placeholder="Ketikanlah nama doa yang ingin kamu cari..." 
                type="search"
            )

            button#searchbtn.btn.btn-primary.form-control.form-control-dark(type="button") Cari